.comment-list {
    margin-top: 20px;
    padding-top: 4px;
    position: relative;
}
.comment-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform: scaleY(0.4);
    background: #fff;
}
.cmt-wr{
    display: flex;
    margin-top: 15px;
    position: relative;
   
}
.cmt-wr {
    padding-bottom: 4px;
    position: relative;
}
.cmt-wr:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom:  0;
    left: 0;
    height: 1px;
    width: 100%;
    transform: scaleY(0.4);
    background: #fff;
}
.cmt-user-ava{
    width: 40px;
    height: 40px;
    border:0.5px solid rgba(204, 204, 204, 0.685);
    overflow: hidden;
    border-radius:50%;
}
.cmt-user-ava img{
    height: 100%;
    object-fit: cover;
}

.c-option{
    position: absolute;
    right: 0;
    top: 0;
}
.cmt-body{
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    padding-bottom: 10px;
}

.cmt-user-name {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom:7px;
}
.cmt-item-name-sub{
    font-size: 13px;
    color: #fff;
    display: inline-block;
}
.cmt-text{
    font-size: 15px;

}
.cmt-wr .time-ago {
    margin-left: 19px;
    font-size: 12px;
}
/* skeleton */
.skeleton-circle {
    position: relative;
    width: 50px;
    height: 50px;
    top: -3px;
}
.skeleton-polite {
    flex: 1;
    margin-left: 10px;
    height: 31px;
    position: relative;
    top: -3px;
}