.post-wr {
    /* padding: 0 20px; */
    margin-top: 20px;
    background: #000;
}
.post-list{

}
.post-item {
    padding: 20px 10px;
    background: #000;
    margin-bottom: 15px;
    position: relative;
}
.post-item:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform: scaleY(0.4);
    background: #fff;
}
.post-item:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform: scaleY(0.4);
    background: #fff;
}

.post-item-head{
    display:flex;
}
.post-item-user-avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 7px;
    /* border: 0.5px solid #ffffff; */
    /* box-sizing: content-box; */
}
.post-item-user-avatar img{
    height: 100%;
    object-fit: cover;
}
.post-item-name {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
.post-item-name-sub {
    font-size: 13px;
    color: #fff;
}
span.check-icon {
    display: inline-flex;
    align-items: center;
    position: relative;
    bottom: -2px;
    margin-left: 7px;
    color: #19c7ff;
}
.post-item-body {
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
}
.post-item .time-ago {
    margin-left: 3px;
    margin-top: 5px;
    font-size: 12px;
}
.post-item-image {
    /* padding: 10px; */
    margin-top: 11px;
    overflow: hidden;
}
.post-item-image .first-img {
    border-radius: 10px;
    overflow: hidden;
}
.post-item-image  .sub-img img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

.post-item-react {
    display: flex;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px 10px;
   
    height: 34px;
}
.react-icon {
    font-size: 17px;
    margin-right: 25px;
    /* align-self: center; */
    display: flex;
    align-items: center;
    color:#fff;
}
.icon-like-fill {
    fill: #ff5f6f; 
    margin-right: 7px;
}
.icon {
    margin-right: 7px;
}
.cmt-input-wr {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.cmt-input-wr input {
    border:none;
    outline: none;
}
.loading-post-home{
    margin-bottom:200px;
    margin-top: 30px;
}
.message {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-size: 15px;
}
.ref{
    height:10px
}