.navbar{
    width:100%;
    height:56px;
    display: flex;
    justify-content:space-between
}
.navbar-left{
    padding-left:10px;
    display:flex;
    align-items:center
}
.navbar-right{
    padding-right:10px;
    display:flex;
    align-items:center
}


p.logo-brand {
    font-size: 28px;
    margin: 0;
    font-weight: 700;
    background: linear-gradient(to right, #b259d2 0%, #28a8a3 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.seacrh-box {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    margin-left: 10px;
    overflow: hidden;

}
input.search-box {
    border: none;
    outline: none;
    text-indent: 10px;
    font-size: 15px;
    width: 80%; 
    flex:1;
    overflow: hidden;
    display: none;

}
input.search-box::placeholder{
    font-size: 15px;
}


.icon-search {
    font-size: 21px;
    width: 30px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
}


.nav-bt {
    position: fixed;
    width: 95vw;
    right: 0;
    left: 0;
    bottom: 15px;
    background: #fff;
    height: 8vh;
    margin: 0 10px;
    border-radius: 10px;
    display:flex;
}
.nav-bt-l{
    flex: 1;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.nav-bt-i {
    flex: 1 1;
    display: flex;
    justify-content: center;
    font-size: 19px;
}
.nav-bt-i-icon {
    width: 25px;
    height: 40px;
    line-height: 40px;
    transition: all 0.3s ease-in-out;
    color: #515151f2;
    transform: translateY(0);
}

.nav-bt-i-icon.active {
    background: #00b3ff;
    border-radius: 50%;
    fill: #fff;
    position: relative;
    padding: 2px 9px;
    transform: translateY(-12px);
    box-sizing: content-box;
}
.nav-bt-i-icon.active svg{
    fill: #fff;
}
.nav-bt-i-icon .anticon svg {
    display: inline-block;
    fill: #494949;
}
