.notification-wr{

}
.notification-wr  h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #e6e6e6;
    font-weight: 400;
}
.fr-requests {
    padding: 10px;
    position: relative;
}
.fr-requests .fr-requests-label {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}
.no-requests-friend,.no-notification{
    color: #c1bebe;
}
.fr-requests-i {
    display: flex;
}
.fr-requests-options {
    display: flex;
    height: 30px;
}
.fr-requests-i {
    display: flex;
    justify-content: space-between;
}
.fr-requests-options .add-friend.accept {
    font-size:12px
}
.fr-requests-options .add-friend.reject{
    font-size:12px
    
}
.all-post-notification {
    padding: 10px;
}
p.all-post-notification-label {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}
.notice-message {
    padding: 18px 0;
    cursor: pointer;
    position: relative;
}
.notice-message::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background:#ffffff;
    transform:scaleY(0.2)
}
.notice-message::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background:#ffffff;
    transform:scaleY(0.2)
}