.profile {
    background: #ebebeb;
    height: 89vh;
    overflow-y: auto;
}
.pr-bg {
    width: 100%;
    height: 30vh;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}
.menu-open {
    position: absolute;
    top: 10px;
    right: 2%;
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.chat-now {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #e6e6e6;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.upload-bg {
    display: flex;
    /* flex-direction: column; */
    font-size: 18px;
    
}
.upload-bg label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pr-info {
    padding: 30px 10px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    overflow: hidden;
    background: #ebebeb;
    position: relative;
    z-index: 2;
    top: -29px;
}
.pr-ava {
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    padding: 2px;
    border-radius: 50%;
    z-index: 1;
}
.pr-ava::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: linear-gradient(to right, #d758aa,#5879ff, #00e9ff);
    padding: 2px;
    border-radius: 50%;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.pr-ava img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
    padding: 2px;
}
.pr-info-head {
    display: flex;
    justify-content: space-between;
}
.pr-info-head-right {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 22px;
    justify-content: space-between;
}
.count {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 1px 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    flex: 1;
    margin-right:15px;
}

span.count-label {
    color: #818181;
    font-size: 11px;
    display: block;
}
.pr-info-f-o {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    padding-right: 10px;
}

.pr-name .name {
    color: #282828;
    font-weight: 700;
    font-size: 16px;
}
.pr-name .name-sub {
    font-size: 13px;
    color: #333333;
}
.pr-post {
    position: relative;
    top: -26px;
    padding: 10px;
    background: #ebebeb;
}
.add-friend {
    background: #00a8ff;
    padding: 3px 10px;
    border-radius: 5px;
    color: #f8f8f8;
    display: flex;
    font-size: 16px;
    align-items: center;
    cursor: pointer;

}
.f-o-icon {
    margin-left: 10px;
    position: relative;
    top: -1px;
}
.f-option {
    display: flex;
}
.add-friend.reject {
    margin-left: 10px;
    background: #fff;
    color: red;
}